<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>NSPOnline Scheduling</display-name>
    <description>
        National Ski Patrol Online Scheduling Software
    </description>

    <!--<filter>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<filter-class>-->
            <!--org.springframework.web.filter.DelegatingFilterProxy-->
        <!--</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
        <!--<filter-name>CORS</filter-name>-->
        <!--<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>-->

        <!--<init-param>-->
            <!--<param-name>cors.allowOrigin</param-name>-->
            <!--<param-value>*</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>cors.supportsCredentials</param-name>-->
            <!--<param-value>false</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>cors.supportedHeaders</param-name>-->
            <!--<param-value>accept, authorization, origin</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>cors.supportedMethods</param-name>-->
            <!--<param-value>GET, POST, HEAD, OPTIONS</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->


    <!--<filter-mapping>-->
        <!--<filter-name>CORS</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>StatusServlet</servlet-name>-->
        <!--<servlet-class>org.nsponline.calendar.Status</servlet-class>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>MemberLoginServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$MemberLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHelpServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$LoginHelp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthCalendarServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$MonthCalendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayShiftsServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$DayShifts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeShiftAssignmentsServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$ChangeShiftAssignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessChangeShiftAssignmentsServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$ProcessChangeShiftAssignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectorsServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$Directors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectorDownloadServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$DownloadRoster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefresherTrainingServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$RefresherTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$UpdateInfo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RssAddItemServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.RssResource$RssAddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RssInitServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.RssResource$RssInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RssTerminateServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.RssResource$RssTerminate</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ListAssignmentsServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$ListAssignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetupListPatrollersServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$SetupListPatrollers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPatrollersServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$ListPatrollers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubListServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$SubList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebSitePreferencesServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$WebSitePreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShiftTemplatesServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$EditShiftTemplates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurgeAssignmentsServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$PurgeAssignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailFormServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.InnerWebResource$EmailForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberListServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$MemberList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberLogoutServlet</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.OuterWebResource$MemberLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.ApiResources$GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resort</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.ApiResources$GetResort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResortList</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.ApiResources$ResortList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAssignments</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.ApiResources$UserAssignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.ApiResources$UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatrolAssignments</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.ApiResources$PatrolAssignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.ApiResources$Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.nsponline.calendar.resources.ApiResources$Login</servlet-class>
    </servlet>

<!--    define & map URL patterns -->
    <servlet-mapping>
        <servlet-name>MemberLoginServlet</servlet-name>
        <url-pattern>/MemberLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberLogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAssignments</servlet-name>
        <url-pattern>/user/assignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResortList</servlet-name>
        <url-pattern>/resort/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resort</servlet-name>
        <url-pattern>/resort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatrolAssignments</servlet-name>
        <url-pattern>/patrol/assignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHelpServlet</servlet-name>
        <url-pattern>/LoginHelp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthCalendarServlet</servlet-name>
        <url-pattern>/MonthCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayShiftsServlet</servlet-name>
        <url-pattern>/DayShifts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeShiftAssignmentsServlet</servlet-name>
        <url-pattern>/ChangeShiftAssignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessChangeShiftAssignmentsServlet</servlet-name>
        <url-pattern>/ProcessChangeShiftAssignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectorsServlet</servlet-name>
        <url-pattern>/Directors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectorDownloadServlet</servlet-name>
        <url-pattern>/DownloadRoster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefresherTrainingServlet</servlet-name>
        <url-pattern>/RefresherTraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <url-pattern>/UpdateInfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RssInitServlet</servlet-name>
        <url-pattern>/rssInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RssAddItemServlet</servlet-name>
        <url-pattern>/rssAddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RssTerminateServlet</servlet-name>
        <url-pattern>/rssTerminate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ListAssignmentsServlet</servlet-name>
        <url-pattern>/ListAssignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetupListPatrollersServlet</servlet-name>
        <url-pattern>/SetupListPatrollers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPatrollersServlet</servlet-name>
        <url-pattern>/ListPatrollers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubListServlet</servlet-name>
        <url-pattern>/SubList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebSitePreferencesServlet</servlet-name>
        <url-pattern>/WebSitePreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShiftTemplatesServlet</servlet-name>
        <url-pattern>/EditShiftTemplates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurgeAssignmentsServlet</servlet-name>
        <url-pattern>/PurgeAssignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailFormServlet</servlet-name>
        <url-pattern>/EmailForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberListServlet</servlet-name>
        <url-pattern>/MemberList</url-pattern>
    </servlet-mapping>

</web-app> 
